In [1]:
from playwright.async_api import async_playwright
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime
import time
import json
import csv
import numpy as np
import re
import lxml.html

In [2]:
playwright = await async_playwright().start()

In [3]:
browser = await playwright.chromium.launch(headless = False)

In [4]:
page = await browser.new_page()

In [5]:
await page.goto("https://awt.cbp.gov/")
time.sleep(6)

In [6]:
# time.sleep(5)
# try: 
#     # await page.click("xpath=/html/body/aside/div/div/ul/li[2]/button", timeout=1000)
#     # await page.click("xpath=///*[@id="Airport"]/button", timeout=1000)
#     await page.select("xpath=/html/body/div[3]/div/form/article/section[1]/div[3]/table/tbody/tr[1]/td[2]/select").click()

# except: 
#     pass

### Choose a specific terminal:

In [7]:
#SKIP and GO TO AIRPORT: 
#await page.get_by_label("Select Your Airport/Terminal").select_option("A477")

### or choose the whole airport:

In [8]:
await page.get_by_label("Select Your Airport/Terminal").select_option("JFK")

['JFK']

In [9]:
# await page.get_by_label("Date From").click()
# await page.get_by_role("link", name="25").nth(2).click()
await page.get_by_role("button", name="Create Report").click()
time.sleep(10)

In [10]:
#EXAMPLE: 
#takes the page ontent ans grabs all the tables:
#tables = pd.read_html(await page.content(), flavor = 'html5lib')

page = await page.content()

tables = pd.read_html(page)
tables[0]

   Airport               Terminal       Date         Hour       U.S. Citizen  \
   Airport               Terminal       Date         Hour       U.S. Citizen
   Airport               Terminal       Date         Hour Average Wait  Time
0      JFK             Terminal 1  7/30/2023  0800 - 0900                 20
1      JFK             Terminal 1  7/30/2023  0900 - 1000                 14
2      JFK             Terminal 1  7/30/2023  1000 - 1100                 13
3      JFK             Terminal 1  7/30/2023  1100 - 1200                 13
4      JFK             Terminal 1  7/30/2023  1200 - 1300                 21
..     ...                    ...        ...          ...                ...
77     JFK  Terminal 8 (American)  7/30/2023  1900 - 2000                 15
78     JFK  Terminal 8 (American)  7/30/2023  2000 - 2100                 25
79     JFK  Terminal 8 (American)  7/30/2023  2100 - 2200                 17
80     JFK  Terminal 8 (American)  7/30/2023  2200 - 2300                 12
81     JFK  Terminal 8 (American)  7/30/2023  2300 - 0000                 12

                    Non U.S. Citizen                               All  \
                    Non U.S. Citizen                        Wait Times
   Max Wait  Time Average Wait  Time Max Wait  Time Average Wait  Time
0              37                 19             37                 20
1              26                 14             26                 14
2              25                 17             35                 16
3              31                 23             39                 19
4              41                 25             41                 23
..            ...                ...            ...                ...
77             41                 49             91                 34
78             89                 57             91                 32
79             41                 35             61                 24
80             34                 19             40                 15
81             43                 27             46                 18

                   ...                                                       \
                   ... Number Of Passengers Time Interval
   Max Wait  Time  ...                              16-30 31-45 46-60 61-90
0              37  ...                                119    78     0     0
1              26  ...                                130     0     0     0
2              35  ...                                133    19     0     0
3              39  ...                                396    99     0     0
4              41  ...                                279   149     0     0
..            ...  ...                                ...   ...   ...   ...
77             91  ...                                129    29   109   102
78             91  ...                                205   325    83   132
79             61  ...                                408   198   102     1
80             40  ...                                183    28     0     0
81             46  ...                                 74    46     2     0

                                                            \
                   Unnamed: 17_level_1 Unnamed: 18_level_1
   91-120 120 plus            Excluded               Total
0       0        0                   8                 332
1       0        0                   6                 285
2       0        0                  15                 312
3       0        0                  20                 770
4       0        0                  15                 583
..    ...      ...                 ...                 ...
77      3        0                  16                 562
78      4        0                  28                1046
79      0        0                  37                1068
80      0        0                  14                 555
81      0        0                   9                 272


   Unnamed: 19_level_1 Unnamed: 20_level_1
               Flights Unnamed: 20_level_2
0                    1                 NaN
1                    1                 NaN
2                    1                 NaN
3                    2                 NaN
4                    2                 NaN
..                 ...                 ...
77                   2                 NaN
78                   4                 NaN
79                   4                 NaN
80                   2                 NaN
81                   1                 NaN

[82 rows x 21 columns]

In [11]:
table = tables[0]

In [12]:
#DO NOT DO THIS: table = table.drop(table.index[0])
#You will just remove the first row of the DATA

In [13]:
table.columns.values

array([('Airport', 'Airport', 'Airport'),
       ('Terminal', 'Terminal', 'Terminal'), ('Date', 'Date', 'Date'),
       ('Hour', 'Hour', 'Hour'),
       ('U.S. Citizen', 'U.S. Citizen', 'Average Wait  Time'),
       ('U.S. Citizen', 'U.S. Citizen', 'Max Wait  Time'),
       ('Non U.S. Citizen', 'Non U.S. Citizen', 'Average Wait  Time'),
       ('Non U.S. Citizen', 'Non U.S. Citizen', 'Max Wait  Time'),
       ('All', 'Wait Times', 'Average Wait  Time'),
       ('All', 'Wait Times', 'Max Wait  Time'),
       ('All', 'Number Of Passengers Time Interval', '0-15'),
       ('All', 'Number Of Passengers Time Interval', '16-30'),
       ('All', 'Number Of Passengers Time Interval', '31-45'),
       ('All', 'Number Of Passengers Time Interval', '46-60'),
       ('All', 'Number Of Passengers Time Interval', '61-90'),
       ('All', 'Number Of Passengers Time Interval', '91-120'),
       ('All', 'Number Of Passengers Time Interval', '120 plus'),
       ('All', 'Unnamed: 17_level_1', 'Excluded'),
       ('All', 'Unnamed: 18_level_1', 'Total'),
       ('All', 'Unnamed: 19_level_1', 'Flights'),
       ('All', 'Unnamed: 20_level_1', 'Unnamed: 20_level_2')],
      dtype=object)

In [14]:
table.columns = ['_'.join(col) for col in table.columns.values]

In [15]:
for col in table.columns:
    print(col)

Airport_Airport_Airport
Terminal_Terminal_Terminal
Date_Date_Date
Hour_Hour_Hour
U.S. Citizen_U.S. Citizen_Average Wait  Time
U.S. Citizen_U.S. Citizen_Max Wait  Time
Non U.S. Citizen_Non U.S. Citizen_Average Wait  Time
Non U.S. Citizen_Non U.S. Citizen_Max Wait  Time
All_Wait Times_Average Wait  Time
All_Wait Times_Max Wait  Time
All_Number Of Passengers Time Interval_0-15
All_Number Of Passengers Time Interval_16-30
All_Number Of Passengers Time Interval_31-45
All_Number Of Passengers Time Interval_46-60
All_Number Of Passengers Time Interval_61-90
All_Number Of Passengers Time Interval_91-120
All_Number Of Passengers Time Interval_120 plus
All_Unnamed: 17_level_1_Excluded
All_Unnamed: 18_level_1_Total
All_Unnamed: 19_level_1_Flights
All_Unnamed: 20_level_1_Unnamed: 20_level_2

In [16]:
table.rename(columns = {'Airport_Airport_Airport': 'Airport', 'Terminal_Terminal_Terminal':'Terminal', 'Date_Date_Date':'date', 'Hour_Hour_Hour':'hour' }, inplace = True)

In [17]:
table.rename(columns = {'U.S. Citizen_U.S. Citizen_Average Wait  Time': 'US Citizen Avg', 'U.S. Citizen_U.S. Citizen_Max Wait  Time':'US Citizen Max', 'Non U.S. Citizen_Non U.S. Citizen_Average Wait  Time':'Non-Citizen Avg', 'Non U.S. Citizen_Non U.S. Citizen_Max Wait  Time': 'Non-Citizen Max' }, inplace = True)

In [18]:
table.rename(columns = {'All_Wait Times_Average Wait  Time': 'Avg Wait Time', 'All_Wait Times_Max Wait  Time':'Max Wait Time', 'All_Unnamed: 18_level_1_Total':'Total Passengers', 'All_Unnamed: 19_level_1_Flights': 'Total Flights' }, inplace = True)

In [19]:
table = table[['Airport', 'Terminal', 'date', 'hour','US Citizen Avg', 'US Citizen Max', 'Non-Citizen Avg','Non-Citizen Max','Avg Wait Time', 'Max Wait Time','Total Passengers','Total Flights' ]]

In [20]:
table.head()

,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
0,JFK,Terminal 1,7/30/2023,0800 - 0900,20,37,19,37,20,37,332,1
1,JFK,Terminal 1,7/30/2023,0900 - 1000,14,26,14,26,14,26,285,1
2,JFK,Terminal 1,7/30/2023,1000 - 1100,13,25,17,35,16,35,312,1
3,JFK,Terminal 1,7/30/2023,1100 - 1200,13,31,23,39,19,39,770,2
4,JFK,Terminal 1,7/30/2023,1200 - 1300,21,41,25,41,23,41,583,2

In [21]:
table.tail()

,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
77,JFK,Terminal 8 (American),7/30/2023,1900 - 2000,15,41,49,91,34,91,562,2
78,JFK,Terminal 8 (American),7/30/2023,2000 - 2100,25,89,57,91,32,91,1046,4
79,JFK,Terminal 8 (American),7/30/2023,2100 - 2200,17,41,35,61,24,61,1068,4
80,JFK,Terminal 8 (American),7/30/2023,2200 - 2300,12,34,19,40,15,40,555,2
81,JFK,Terminal 8 (American),7/30/2023,2300 - 0000,12,43,27,46,18,46,272,1

In [22]:
#russian_df = df3[(df3["Language"]=="Russian")].reset_index()
#score_pattern = r"Q(\d): ([\d\.]+)%"
#df[df['A'].str.contains("hello")]

In [23]:
#term8 = table[table["Terminal"].str.contains("8")].reset_index()

In [24]:
term1 = table[table["Terminal"].str.contains("1")].reset_index(inplace=False)

In [25]:
term1 = term1.drop('index', axis =1)
term1.head()

,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
0,JFK,Terminal 1,7/30/2023,0800 - 0900,20,37,19,37,20,37,332,1
1,JFK,Terminal 1,7/30/2023,0900 - 1000,14,26,14,26,14,26,285,1
2,JFK,Terminal 1,7/30/2023,1000 - 1100,13,25,17,35,16,35,312,1
3,JFK,Terminal 1,7/30/2023,1100 - 1200,13,31,23,39,19,39,770,2
4,JFK,Terminal 1,7/30/2023,1200 - 1300,21,41,25,41,23,41,583,2

In [26]:
term1.to_csv("term1.csv")

In [27]:
term8 = table[table["Terminal"].str.contains("8")].reset_index(inplace=False)

In [28]:
term8.head()

,index,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
0,65,JFK,Terminal 8 (American),7/30/2023,0500 - 0600,25,79,45,87,33,87,724,3
1,66,JFK,Terminal 8 (American),7/30/2023,0600 - 0700,33,83,54,86,44,86,603,2
2,67,JFK,Terminal 8 (American),7/30/2023,0700 - 0800,11,33,22,36,17,36,168,1
3,68,JFK,Terminal 8 (American),7/30/2023,0800 - 0900,14,30,12,29,13,30,284,1
4,69,JFK,Terminal 8 (American),7/30/2023,1100 - 1200,13,28,17,30,15,30,476,2

In [ ]:
lol = term8[['']]

In [29]:
term8 = term8.drop('index', axis =1)
term8.head()

,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
0,JFK,Terminal 8 (American),7/30/2023,0500 - 0600,25,79,45,87,33,87,724,3
1,JFK,Terminal 8 (American),7/30/2023,0600 - 0700,33,83,54,86,44,86,603,2
2,JFK,Terminal 8 (American),7/30/2023,0700 - 0800,11,33,22,36,17,36,168,1
3,JFK,Terminal 8 (American),7/30/2023,0800 - 0900,14,30,12,29,13,30,284,1
4,JFK,Terminal 8 (American),7/30/2023,1100 - 1200,13,28,17,30,15,30,476,2

In [30]:
term8.to_csv("term8.csv")

In [34]:
transposed8 = term8.transpose()
transposed8

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Airport,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK
Terminal,Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American)
date,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023
hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
US Citizen Max,79,83,33,30,28,26,37,47,67,38,27,43,41,89,41,34,43
Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27
Non-Citizen Max,87,86,36,29,30,27,51,58,66,38,27,91,91,91,61,40,46
Avg Wait Time,33,44,17,13,15,15,19,21,19,21,13,27,34,32,24,15,18
Max Wait Time,87,86,36,30,30,27,51,58,67,38,27,91,91,91,61,40,46
Total Passengers,724,603,168,284,476,274,823,1349,601,588,605,834,562,1046,1068,555,272
Total Flights,3,2,1,1,2,1,3,5,2,3,3,3,2,4,4,2,1

In [35]:
transposed8.to_csv("transposed8.csv")

In [36]:
transposed8.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [38]:
# df.columns = df.iloc[0]
#df.drop([0, 1])
#, axis=1

In [37]:
transposed8.columns = transposed8.iloc[3]
transposed8.head()

hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
Airport,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK
Terminal,Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American)
date,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023
hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12

In [43]:
transposed8.columns.values

array(['0500 - 0600', '0600 - 0700', '0700 - 0800', '0800 - 0900',
       '1100 - 1200', '1200 - 1300', '1300 - 1400', '1400 - 1500',
       '1500 - 1600', '1600 - 1700', '1700 - 1800', '1800 - 1900',
       '1900 - 2000', '2000 - 2100', '2100 - 2200', '2200 - 2300',
       '2300 - 0000'], dtype=object)

### transposed8.drop([1]) didn't work b/c the transposed DF did NOT have an index

### so we reset index:

In [47]:
indexed8 = transposed8.reset_index()
indexed8

hour,index,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
0,Airport,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK,JFK
1,Terminal,Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American),Terminal 8 (American)
2,date,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023,7/30/2023
3,hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
4,US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
5,US Citizen Max,79,83,33,30,28,26,37,47,67,38,27,43,41,89,41,34,43
6,Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27
7,Non-Citizen Max,87,86,36,29,30,27,51,58,66,38,27,91,91,91,61,40,46
8,Avg Wait Time,33,44,17,13,15,15,19,21,19,21,13,27,34,32,24,15,18
9,Max Wait Time,87,86,36,30,30,27,51,58,67,38,27,91,91,91,61,40,46
10,Total Passengers,724,603,168,284,476,274,823,1349,601,588,605,834,562,1046,1068,555,272
11,Total Flights,3,2,1,1,2,1,3,5,2,3,3,3,2,4,4,2,1

### and now we can safely remove some rows:

In [56]:
indexed8 = indexed8.drop([0,1,2,3])

In [58]:
indexed8 = indexed8.reset_index()

In [59]:
indexed8

hour,level_0,index,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
0,4,US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
1,5,US Citizen Max,79,83,33,30,28,26,37,47,67,38,27,43,41,89,41,34,43
2,6,Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27
3,7,Non-Citizen Max,87,86,36,29,30,27,51,58,66,38,27,91,91,91,61,40,46
4,8,Avg Wait Time,33,44,17,13,15,15,19,21,19,21,13,27,34,32,24,15,18
5,9,Max Wait Time,87,86,36,30,30,27,51,58,67,38,27,91,91,91,61,40,46
6,10,Total Passengers,724,603,168,284,476,274,823,1349,601,588,605,834,562,1046,1068,555,272
7,11,Total Flights,3,2,1,1,2,1,3,5,2,3,3,3,2,4,4,2,1

In [ ]:
#indexed8 = indexed8.reset_index(axis=1)

In [60]:
indexed8 = indexed8.drop(['level_0'], axis=1)
indexed8

hour,index,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
0,US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
1,US Citizen Max,79,83,33,30,28,26,37,47,67,38,27,43,41,89,41,34,43
2,Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27
3,Non-Citizen Max,87,86,36,29,30,27,51,58,66,38,27,91,91,91,61,40,46
4,Avg Wait Time,33,44,17,13,15,15,19,21,19,21,13,27,34,32,24,15,18
5,Max Wait Time,87,86,36,30,30,27,51,58,67,38,27,91,91,91,61,40,46
6,Total Passengers,724,603,168,284,476,274,823,1349,601,588,605,834,562,1046,1068,555,272
7,Total Flights,3,2,1,1,2,1,3,5,2,3,3,3,2,4,4,2,1

In [62]:
indexed8.to_csv("indexed8.csv")

In [92]:
reduced8 = term8[['hour','US Citizen Avg', 'Non-Citizen Avg']]

In [93]:
reduced8

           hour  US Citizen Avg  Non-Citizen Avg
0   0500 - 0600              25               45
1   0600 - 0700              33               54
2   0700 - 0800              11               22
3   0800 - 0900              14               12
4   1100 - 1200              13               17
5   1200 - 1300              14               17
6   1300 - 1400              15               24
7   1400 - 1500              13               31
8   1500 - 1600              15               26
9   1600 - 1700              19               25
10  1700 - 1800              13               13
11  1800 - 1900              17               37
12  1900 - 2000              15               49
13  2000 - 2100              25               57
14  2100 - 2200              17               35
15  2200 - 2300              12               19
16  2300 - 0000              12               27

In [94]:
reducedtransposed8 = reduced8.transpose()
reducedtransposed8.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27

In [95]:
reducedtransposed8.columns = reducedtransposed8.iloc[0]
reducedtransposed8.head()

hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27

In [96]:
reducedtransposed8 = reducedtransposed8.drop(index= "hour")

In [97]:
reducedtransposed8

hour,0500 - 0600,0600 - 0700,0700 - 0800,0800 - 0900,1100 - 1200,1200 - 1300,1300 - 1400,1400 - 1500,1500 - 1600,1600 - 1700,1700 - 1800,1800 - 1900,1900 - 2000,2000 - 2100,2100 - 2200,2200 - 2300,2300 - 0000
US Citizen Avg,25,33,11,14,13,14,15,13,15,19,13,17,15,25,17,12,12
Non-Citizen Avg,45,54,22,12,17,17,24,31,26,25,13,37,49,57,35,19,27

In [98]:
reducedtransposed8.to_csv('reducedtransposed8.csv')

In [99]:
reducedtransposed8.to_csv('jfkterm8_us_nonus.csv')

In [32]:
await browser.close()

In [33]:
#get the table directly: maybe? 
tables = pd.read_html(await page.content(), flavor = 'html5lib')
len(tables)
data = tables[0]

AttributeError: 'str' object has no attribute 'content'

In [ ]:
#edit a bit + make csv

In [ ]:
#await page.select_option("select#wb-auto-23", index=2)
await page.select_option("option[63]")

In [ ]:
#KELLY"S PATTERN: 
for index in range(2,12):
    if index == 4:
        pass
    elif index == 5:
        pass
    
    else:
        data = {}
        today = datetime.date.today()
        await page.select_option("select#wb-auto-48", index=index)
        type = await page.select_option("select#wb-auto-48", index=index)
        type = type[0]
        type = type.replace(" ", "_")
        await page.click("xpath=/html/body/main/div[1]/div[3]/div[4]/div[1]/div/form/button")
        await page.wait_for_timeout(3000)
        html = await page.content()
        doc = BeautifulSoup(html, 'html.parser')
        time = doc.find_all('span', {'class': 'wb-init'})      
        data["time"] =  time[0].text 
        data["date_recorded"] =  time[1].text 
        print(data)        
        with open(f'./data/{type}.csv', 'a', newline='') as csvfile:
            fieldnames = ['time', 'date_recorded']
            writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
            writer.writerow(data)